div(class='footer__social footer-social')
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--mail')
            div(class='footer-social__icon-bg')
            a(class='footer-social__icon-link', href='mailto:pihfort@gmail.com')
        a(class='footer-social__text-link', href='mailto:pihfort@gmail.com')
            | pihfort@gmail.com
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--fb')
            div(class='footer-social__icon-bg')
            a(class='footer-social__icon-link', href='https://www.facebook.com/ShoveFortune/')
        a(class='footer-social__text-link', href='https://www.facebook.com/ShoveFortune/')
            | https://www.facebook.com/ShoveFortune/
    div(class='footer-social__column')
        div(class='footer-social__icon footer-social__icon--vk')
            div(class='footer-social__icon-bg')
            a(class='footer-social__icon-link', href='https://vk.com/club160782803')
        a(class='footer-social__text-link', href='https://vk.com/club160782803')
            | https://vk.com/club160782803
